body {
  margin: 0;
  background: #F4F4F4;
  color:  #444;;
  font-family: 'Montserrat', sans-serif;
  /*font-family: 'Roboto', sans-serif;*/
  /*top: 513px;
  left: -1.0767822265625px;
  width: 377px;
  height: 342px;*/
}

h1 {

  font-size: 65px;
  font-weight: 700;
  margin: 40px;
}

h2 {
  font-size: 50px;

}

h3 {
  font-size: 30px;

}

p {
  font-size: 22px;
  font-weight: 200;
  line-height: 1.5;
  color: #444;;
}
/*********** HEADER ********/

/* The hero image */
.hero-container {
  width: 80%;
  margin: 0 auto;
  padding: 100px 0;
  align-content: center;
  text-align: center;
}
header {
  /* The "linear-gradient" gives a darker feeling to the her image*/
  /* Image / copied the relative path for the pic */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/Deskpic.JPG");
  background-repeat: no-repeat;
  /* To make the her picture cover the screen */
  background-size: cover;
  background-position: center;
  /* The image change size on all screens */
  position: relative;
}

header img {
  top: 359px;
  left: 176px;
  width: 162px;
  height: 162px;
  background: transparent url("assets/Theresa\ profil\ Björn\ Axen\ \(kopia\).jpg") 0% 0% no-repeat padding-box;
  border: 3px solid #FFFFFF;
  border-radius: 100px;
  opacity: 1;
}

.summary-box {
  top: 571px;
  left: 37px;
  width: 302px;
  height: 228px;
  text-align: left;
  font: Regular 17px/29px Montserrat;
  letter-spacing: 0;
  opacity: 1;
  margin: 20px;
  padding: 50px;
}


/*******FOOTER *********/

footer {
  font-size: 15px;
  text-align: right;
  color: darkgray;
  margin-right: 35px;
}

/*******MEDIA QUERIES *********/

@media (min-width: 650px) {
  header {
  justify-content: space-between;
  }
}