body {
  margin: 0;
  background: #ffff;
  color:  #ffff;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.hero-container {
  width: 562px;
  height: 308px;
  width: 80%;
  margin: 0 auto;
  padding: 100px 0;
  align-content: center;
  text-align: left;
}

h1 {
  margin: 20px;
  font-size: 49px;
  padding: 0px;
}

h2 {
  font-size: 27px;
 
  font: bold;
  color: #ffff;
  background-color: #fa382f;
  display: inline;
  
}

h3 {
  font-size: 30px;
}

p {
  font-size: 17px;
  line-height: 1.5;
  color: #4444;
  /*margin-left: 40px;*/
}



/*********** HEADER********/

header {
  /* The "linear-gradient" gives a darker feeling to the her image*/
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/Deskpic.JPG");
  background-repeat: no-repeat;
  /* To make the hero picture cover the screen */
  background-size: cover;
  background-position: center;
  /* The image change size on all screens */
  position: relative;
}

.header-label p {
  font: Bold 13px/15px Roboto;
  letter-spacing: 0.52px;
  color: #FFFFFF;
  opacity: 1;
  position: relative;
}

.header-label h1 {
  font: Bold 40px/49px Montserrat;
  letter-spacing: 0;
  color: #FFFFFF;
  opacity: 1;
  position: relative;
  display: inline;
}

.profile-pic {
  /*top: 159px;
  left: 176px;
  width: 170px;
  height: 200px;*/
  display: flex;
  position: relative;
  z-index: 1;
  left: 50%;
}

.header-profile {
  width: 162px;
  height: 192px;
  border: 3px solid #FFFFFF;
  border-radius: 100px;
  opacity: 1;
}

/*********ICON BAR IN HEADER********/

/*.container .icon {
 position: relative;
}
.icon {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 2px solid white;
  background: black;
  color: white;
 
}
/*.iconContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 10%;
  position: relative;

  bottom: 400px;
  background: yellow;
}
​
.icon { 
  margin-top: 10%;
  width: 40px;
  height: 39px;
  border-radius: 100%;
  border: 2px solid white;
  position: relative;

}
​
.iconImg {
  color: white;
  position: relative;

  top: 7px;
  left: 7px;
  width: 20px;
  height: 20px;
}*/
  
/*****INFORMATION SECTION******/

.summary-box {
  top: 571px;
  left: 37px;
  width: 275px;
  height: 258px;
  text-align: left;
  opacity: 1;
  padding: 50px;
  margin: 0px;
  background: #F4F4F4 0% 0% no-repeat padding-box;
}

.tech-box {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  top: 981px;
  left: 36px;
  width: 275px;
  height: 258px;
  padding: 50px;
  text-align: center;
  opacity: 1;
}

.projects-container {
  top: 571px;
  left: 37px;
  width: 275px;
  height: 1258px;
  text-align: center;
  opacity: 1;
  padding: 50px;
  background: #F4F4F4 0% 0% no-repeat padding-box;
  display: flex;
  flex-flow: wrap;
}
.projects {
  width: 275px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  position: relative;
}
.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.projects-container div {
  width: 398px;
  height: 25px;
  padding: 10px;
}

.projects img{
  left: 36px;
  width: 303px;
  height: 179px;
  opacity: 0.38;
  }
/*******FOOTER *********/

footer {
  width: 1920px;
  height: 573px;
  font-size: 15px;
  text-align: right;
  color: darkgray;
  margin-right: 35px;
}

/*******MEDIA QUERIES *********/



@media (min-width: 1024px) {
 

  .summary-box {
    top: 785px;
    left: 416px;
    width: 1088px;
    height: 192px;
    text-align: left;
    margin-right: 10%;
    letter-spacing: 0;
    color: #000000;
    opacity: 1;
  }
  .tech-box {
    top: 1371px;
    left: 416px;
    width: 1088px;
    height: 150px;
    text-align: center;
    letter-spacing: 0;
    opacity: 1;
  }
  .projects-container{
    flex-direction: row;
    align-items: center;
  }
  .flex-projects{
 
    flex-grow: 1;
    margin: 16px;
  }
  .flex-projects img{
    object-position: bottom;
    flex-grow: 1;
    margin: 16px;
  }
}